socketiogame/UnityNodejs/Library/
socketiogame/UnityNodejs/Temp/
socketiogame/UnityNodejs/build/
socketiogame/UnityNodejs/.vs/
socketiogame/UnityNodejs/Logs/
socketiogame/UnityNodejs/obj/Debug/
*.csproj
*.apk
